  <div id="<%= dom_id card %>">


    <p>
      <strong>Nom de famille :</strong>
      <%= card.surname %>
    </p>

    <p>
      <strong>Prénom :</strong>
      <%= card.name %>
    </p>

    <p>
      <strong>Nom de héros :</strong>
      <%= card.pseudonym %>
    </p>

    <p>
      <strong>Pouvoirs :</strong>
      <%= card.power %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag card.image %>
    </p>

  </div>
