<div id="<%= dom_id card %>">


  <p>
    <strong>Surname:</strong>
    <%= card.surname %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Pseudonym:</strong>
    <%= card.pseudonym %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= card.power %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= Image_tag card.image %>
  </p>

</div>
