

<%= image_tag @card.image, class: 'img-fluid' %>
<p class="card-title">
  <strong></strong>
  <%= @card.pseudonym, class: "mb-2" %>
</p>

<p class="card-text">
  <strong>Prénom :</strong>
  <%= @card.name %>
</p>

<p class="card-text">
  <strong>Nom :</strong>
  <%= @card.surname %>
</p>

<p class="card-text">
  <strong>Pouvoirs :</strong>
  <%= @card.power %>
</p>

<div>
  <%= link_to "Éditer", edit_card_path(@card) , class:"btn btn-outline-danger"%> |
  <%= link_to "Voir touts les héros", cards_path , class:"btn btn-outline-danger"%>

  <%= button_to "Supprimer", @card, method: :delete , class:"btn btn-outline-danger mt-3" %>
</div>
