

<%= image_tag @card.image, class: 'img-fluid' %>
<p class="card-title">
  <strong></strong>
  <%= @card.surname %>
</p>

<p class="card-text">
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p class="card-text">
  <strong>Pseudonym:</strong>
  <%= @card.pseudonym %>
</p>

<p class="card-text">
  <strong>Power:</strong>
  <%= @card.power %>
</p>

<div>
  <%= link_to "Editer", edit_card_path(@card) , class:"btn btn-outline-danger"%> |
  <%= link_to "Retour", cards_path , class:"btn btn-outline-danger"%>

  <%= button_to "Destroy this card", @card, method: :delete , class:"btn btn-outline-danger" %>
</div>
